// Variables

/*
Värit
----------------------------------------- */

$sininen: 		  rgba(85, 98, 112, 1);
$harmaa: 		  rgba(153, 153, 153, 1);
$musta: 		  rgba(44, 43, 43, 1);
$tummanHarmaa: 	  rgba(102, 102, 102, 1);
$vaaleanHarmaa:   rgba(245, 245, 245, 1);
$vaaleanVihrea:   rgba(113, 238, 184, 1);
$oranssi: 		  rgba(241, 101, 41, 1);


/*
Fontit
----------------------------------------- */
$sansSerifStack: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifStack: 'Rokkitt', Georgia, Baskerville, 'Times New Roman', serif;