@import "_vars.scss";
@import "_mixins.scss";
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Roboto+Condensed:400,700);

// $sininen: rgba(85, 98, 112, 1);

/*
Yleiset tyylit
----------------------------------------- */

html {
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

html,
body {
	height: 100%;
}

h1,
h2,
h3 {
	color: $musta;
	font-family:'Rokkitt', Georgia, 'Times New Roman', serif;
	font-weight: 300;
	margin: 2rem auto;
	text-transform: uppercase;
}

p {
	color: $tummanHarmaa;
	font-family: $sansSerifStack;
	font-size: 1rem;
	padding-bottom: 2rem;
}


/*
Luokkakohtaiset tyylit
----------------------------------------- */

.section-bar {
	min-height: 400px;
	width: 100%;
}

.section-container {
	min-height: 500px;
	width: 100%;
}

.main-heading {
	font-size: 3.75rem;
	font-weight: bold;

	@media only screen and (max-width: 768px) {
		font-size: 3rem;
	}

	&::after {
		background: $sininen; // Muista vaihtaa myöhemmin
		content: "";
		display: block;
		height: 4px;
		margin: 0 auto;
		width: 200px;
	}
}

.self {
	margin: 1rem auto 2rem;
	@include fullBorder(1rem, solid, $vaaleanHarmaa);
}

.lead-para {
	font-size: 1.1875rem;
}

.cta-btn {
	background-color: $vaaleanVihrea;
	border: 1px solid darken($vaaleanVihrea, 25%);
	border-bottom: 5px solid darken($vaaleanVihrea, 25%);
	color: $musta;
	display: block;
	font-size: .9rem;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 0 auto;
	max-width: 200px;
	padding: .75rem 2.5rem;
	text-align: center;
	text-transform: uppercase;

	@include bRadius(5px);

	-moz-transition: background-color 500ms ease-in-out;
	-opera-transition: background-color 500ms ease-in-out;
	-webkit-transition: background-color 500ms ease-in-out;
	transition: background-color 500ms ease-in-out;

	&:hover {
		background-color: darken($vaaleanVihrea, 10%);
		color: $musta;
		text-decoration: none;
	}
}

/*
header#main-header
----------------------------------------- */

#main-header {
	background-color: rgba(8, 77, 110, .9);
	border-bottom: 15px solid darken(rgba(8, 77, 110, 1), 5%);
	min-height: 135px;
	width: 100%;
}

/*
nav#main-navigation
----------------------------------------- */

#main-navigation {
	background-color: lighten(rgba(8, 77, 110, .9), 15%);
	width: 100%;

	.site-navigation li {
		border-right: 1px solid rgba(6, 60, 86, 1);
		margin: 0;

		&:last-child {
			border-right: none;
		}

		a {
			color: rgba(255, 255, 255, 1);
			padding: .75rem 2.5rem;
			text-align: center;
			border-radius: 0;

			-moz-transition: background-color 500ms ease-in-out;
			-opera-transition: background-color 500ms ease-in-out;
			-webkit-transition: background-color 500ms ease-in-out;
			transition: background-color 500ms ease-in-out;

			&:hover {
				background-color: rgba(6, 60, 86, 1);
				
			}
		}
	}
}





/*
section.section-two-bar
----------------------------------------- */

.section-two-bar {
	background: url(section-two-bar.jpg) center center fixed;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
}

/*
section.section-two
----------------------------------------- */

.section-two {
	background-color: $vaaleanHarmaa;
}



























